{
    "Servers": {
        "1": {
            "Name": "PostgreSQL",
            "Group": "Servers",
            "Host": "${POSTGRES_HOST}",
            "Port": 5432,
            "Username": "${POSTGRES_USER}",
            "Passfile": "../../.pgpass",
            "MaintenanceDB": "${POSTGRES_DB}",
            "SSLMode": "prefer",
            "Comment": "Primary Database"
        }
    }
}